In [1]:
import pandas as pd

In [32]:
wd = {
    'day': ['sunday', 'monay', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'],
    'temp': [32,3,2, 4, 3, 5, 7],
    'wind': [5,4,3, 1, 4, 6, 7],
    'event': ['rain', 'sunny', 'snow', 'rain', 'sunny', 'snow', 'sunny']
}

df = pd.DataFrame(wd)

df

         day  temp  wind  event
0     sunday    32     5   rain
1      monay     3     4  sunny
2    tuesday     2     3   snow
3  wednesday     4     1   rain
4   thursday     3     4  sunny
5     friday     5     6   snow
6   saturday     7     7  sunny

In [25]:
df.nunique()

day      6
temp     6
wind     6
event    3
dtype: int64

In [26]:
df.describe()

            temp      wind
count   7.000000  7.000000
mean    8.000000  4.285714
std    10.708252  1.976047
min     2.000000  1.000000
25%     3.000000  3.500000
50%     4.000000  4.000000
75%     6.000000  5.500000
max    32.000000  7.000000

In [12]:
df['temp'].sum()

37

In [19]:
df['wind'].count()

3

In [22]:
df.shape

(3, 4)

In [28]:
df[2:4]
#it includes 2 but not 4

                day  temp  wind event
2  tuesdaywednesday     2     3  snow
3          thursday     4     1  rain

In [33]:
df.columns

Index(['day', 'temp', 'wind', 'event'], dtype='object')

In [34]:
df.day

0       sunday
1        monay
2      tuesday
3    wednesday
4     thursday
5       friday
6     saturday
Name: day, dtype: object

In [35]:
df['event']

0     rain
1    sunny
2     snow
3     rain
4    sunny
5     snow
6    sunny
Name: event, dtype: object

In [36]:
#to print few columns from the data set use this
df[['day', 'event']]

         day  event
0     sunday   rain
1      monay  sunny
2    tuesday   snow
3  wednesday   rain
4   thursday  sunny
5     friday   snow
6   saturday  sunny

operation on dataset

In [37]:
df['temp'].sum()

56

In [38]:
df[df.temp>=32]

      day  temp  wind event
0  sunday    32     5  rain

In [41]:
df[df.temp == df.temp.max()]

      day  temp  wind event
0  sunday    32     5  rain

In [42]:
df['temp'].mean()

8.0

In [43]:
df['temp'].max()

32

In [44]:
df['temp'].min()

2

In [45]:
df.describe()

            temp      wind
count   7.000000  7.000000
mean    8.000000  4.285714
std    10.708252  1.976047
min     2.000000  1.000000
25%     3.000000  3.500000
50%     4.000000  4.000000
75%     6.000000  5.500000
max    32.000000  7.000000

In [46]:
 df[['day', 'temp']][df.temp == df.temp.max()]

      day  temp
0  sunday    32

In [47]:
df.head()

         day  temp  wind  event
0     sunday    32     5   rain
1      monay     3     4  sunny
2    tuesday     2     3   snow
3  wednesday     4     1   rain
4   thursday     3     4  sunny

In [49]:
df[['day', 'wind', 'temp']][df.temp == df.temp.min()]

       day  wind  temp
2  tuesday     3     2

In [50]:
df[['day', 'wind', 'temp']][df.wind == df.wind.max()]

        day  wind  temp
6  saturday     7     7

In [57]:
df.head()

           temp  wind  event
day
sunday       32     5   rain
monay         3     4  sunny
tuesday       2     3   snow
wednesday     4     1   rain
thursday      3     4  sunny

In [61]:
# df.set_index('day', inplace = True)
df.reset_index(inplace = True)

In [62]:
df

         day  temp  wind  event
0     sunday    32     5   rain
1      monay     3     4  sunny
2    tuesday     2     3   snow
3  wednesday     4     1   rain
4   thursday     3     4  sunny
5     friday     5     6   snow
6   saturday     7     7  sunny

In [63]:
df.set_index('day', inplace = True)

In [64]:
df.head()

           temp  wind  event
day
sunday       32     5   rain
monay         3     4  sunny
tuesday       2     3   snow
wednesday     4     1   rain
thursday      3     4  sunny

In [66]:
df.loc['sunday']

temp       32
wind        5
event    rain
Name: sunday, dtype: object

In [68]:
df.reset_index(inplace = True)
df

   index        day  temp  wind  event
0      0     sunday    32     5   rain
1      1      monay     3     4  sunny
2      2    tuesday     2     3   snow
3      3  wednesday     4     1   rain
4      4   thursday     3     4  sunny
5      5     friday     5     6   snow
6      6   saturday     7     7  sunny

In [69]:
df.set_index('event', inplace = True)
df

       index        day  temp  wind
event
rain       0     sunday    32     5
sunny      1      monay     3     4
snow       2    tuesday     2     3
rain       3  wednesday     4     1
sunny      4   thursday     3     4
snow       5     friday     5     6
sunny      6   saturday     7     7

In [70]:
df.loc['sunny']

       index       day  temp  wind
event
sunny      1     monay     3     4
sunny      4  thursday     3     4
sunny      6  saturday     7     7